html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #F6F5F5;
  font-family: Arial, Helvetica, sans-serif;
}

logo{
  width: 210px;
  height: 80px;
}

h1, ul, p{
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #726767;
  padding-top: 20px;
}

h2 {
  font-family: 'EB Garamond';
  font-size: 24px;
  font-weight: 600px;
  line-height: 31px;
  color: #5c5656;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #D3D3D3;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a{
  padding: 16px 0px;
  display: inline-block;
  color: #887A7A;
  font-family: 'EB Garamond';
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.header-menu a:after{
  content: "";
  display: block;
  height: 1px;
  width: 0px;
  background-color: #887A7A;
  margin-top: 2px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after{
  width: 100%;
}

.titulo{
  text-align: center;
  padding: 20px;
}

.linha-img{
  align-items: center;
}

@media (max-width: 800px) {
  li{
    font-size: 10px;
  }
  .header{
    flex-direction: column;
    align-items: center;
  }
  .header-menu a{
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header a:after{
   display: none; 
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a{
    padding: 8px 12px;
    font-size: 14px;
  }
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 10px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.coluna-1{
  width: 430px;
  height: 310px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FCF8F8;
  border: 1px solid #A89999;
  border-radius: 10px;
}

.coluna-2{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.sobre-mim{
  font-family: EB Garamond;
  color: #867f7f;
  font-size: 16px;
  padding-bottom: 15px;
}

.btn-contato{
  padding: 20px 20px;
  border-radius: 8px;
  border: none;
  background-color: #92C58A;
  font-family: Poppins;
  color: #534A4A;
}

.btn-contato:hover{
  background-color: #83ac83;
  cursor: pointer;
}

.portfolio{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.portfolio h2{
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 100px;
}

.imagens-portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
}

.imagens-portfolio img{
  padding-bottom: 20px;
}

.depoimentos{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 10px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.depoimento1{
  padding: 5px;
}

.depoimento2{
  padding: 5px;
}

.servicos{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 30px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-bottom: 20px;
}

.servico1{
  width: 420px;
  height: 230px;
  font-family: EB Garamond;
  color: #504C4C;
}

.servico1 h3{
  border: 1px solid #D3D3D3;
  width: 195px;
  padding-left: 5px;
}

.servico1 p{
  width: 300px;
  color: #686060;
  font-size: 18px;
  padding-bottom: 20px;
}

.servico2{
  width: 420px;
  height: 230px;
  font-family: EB Garamond;
  color: #504C4C;
}

.servico2 h3{
  border: 1px solid #D3D3D3;
  width: 120px;
  padding-left: 5px;
}

.servico2 p{
  width: 300px;
  color: #686060;
  font-size: 18px;
  padding-bottom: 66px;
}

.servico3{
  width: 420px;
  height: 230px;
  font-family: EB Garamond;
  color: #504C4C;
}

.servico3 h3{
  border: 1px solid #D3D3D3;
  width: 65px;
  padding-left: 5px;
}

.servico3 p{
  width: 300px;
  color: #686060;
  font-size: 18px;
  padding-bottom: 42px;
}

.servico4{
  width: 420px;
  height: 230px;
  font-family: EB Garamond;
  color: #504C4C;
}

.servico4 h3{
  border: 1px solid #D3D3D3;
  width: 108px;
  padding-left: 5px;
}

.servico4 p{
  width: 300px;
  color: #686060;
  font-size: 18px;
  padding-bottom: 42px;
}

.contato{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 70px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contato h2{
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 100px;
}

.contatos-cont{
  text-align: center;
  border-bottom: 1px solid #D3D3D3;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contatos-cont h3{
  color: #686060;
  font-size: 18px;
  padding-bottom: 20px;
  font-family: EG Garamond;
  font-style: bold;
  font-weight: 500px;
}

.footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 10px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer p{
  color: #686060;
  font-size: 16px;
  font-family: EG Garamond;
  font-style: bold;
  font-weight: 500px;
}

.img-wpp{
  max-width: 16px;
  max-height: 16px;
  padding-right: 5px;
}









